body {
	background-color: whitesmoke;
}

h1 {
	text-align: center;
	background-color: pink;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
}

ul {
	border-radius: 10px;
	
}

a, li {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}